@font-face {
  font-family: "iconfont";
  src: url("../../font/iconfont.eot");
  src: url("../../font/iconfont.eot?#iefix") format("embedded-opentype"),
    url("../../font/iconfont.woff") format("woff"),
    url("../../font/iconfont.ttf") format("truetype"),
    url("../../font/iconfont.svg#iconfont") format("svg");
}

@font-face {
  font-family: "iskpota";
  src: url("../../font/iskpota.ttf");
  font-weight: normal;
  font-style: normal;
}

.iskpota {
  font-family: "iskpota" !important;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.color {
  color: #1e1e1e;
  color: #51515b;
  color: #787679;
  color: #beb1a1;
  color: #ebe0c2;
  color: #d3d2d0;
  color: #f3f0eb;
  color: #ffffff;
}

.w {
  width: 1000px;
  margin: 0 auto;
}
.f {
  float: left;
}
.r {
  float: right;
}

.article-main .v-note-wrapper {
  border: none;
}

.Modular {
  margin-top: 100px;
}
.Modular h2 {
  font-size: 28px;
  color: #696969;
  display: inline-block;
  padding-right: 60px;
  border-bottom: 1px solid #ff6069;
  font-family: "iskpota";
}
.image {
  width: 100%;
  display: block;
}